# PHP
alias a="DISABLE_ARTISAN_SAIL=true artisan"
alias ar="a remote"
alias c="composer"
alias cu="composer update"
alias cr="composer require"
alias ci="composer install"
alias cda="composer dump-autoload"
alias cv="COMPOSER=composer-dev.json composer"
alias cvu="cv update"
alias cvr="cv require"
alias cvi="cv install"
alias cvda="cv dump-autoload"
alias hostfile="sudo nano /etc/hosts"
alias deploy='envoy run deploy'
alias deploy-code='envoy run deploy-code'
alias mfs='a migrate:fresh --seed'
alias testbench="vendor/bin/testbench"
# see .functions
# alias p="c test"
# alias pf="a test --filter="
alias sshconfig="nano ~/.ssh/config"
alias sail='./vendor/bin/sail'
# alias tunnel='valet share -subdomain=freekmurze -region=eu'
alias canvas='composer exec canvas '
alias php7="brew unlink php && brew link php@7.4"
alias php8="brew unlink php@7.4 && brew link php"
alias phpcs="./vendor/bin/phpcs app tests -v"

# JavaScript
alias jest="./node_modules/.bin/jest"

# Git
alias gc="git checkout"
alias gpo="git push --tags -u origin"
alias qgpo="git add -A && git commit -m quick && git push -u --tags origin"
alias gm="git merge"
alias prod="git push production"
alias qprod="git add -A && git commit -m hotfix && prod"
alias glog="git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
alias uncommit="git reset --soft HEAD~1"
alias nah='git reset --hard;git clean -df'

# Fast open
alias o="open ."

# List all files colorized in long format
alias l="ls -laF"

# Redis
alias flush-redis="redis-cli FLUSHALL"

# VSCode
alias code='open -a "/Applications/Visual Studio Code.app"'

# IP addresses
alias ip="curl https://diagnostic.opendns.com/myip ; echo"
alias ip2="curl https://ipinfo.io/ip ; echo"
alias ip3="curl ifconfig.me/ip ; echo"
alias localip="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"
alias flushDNS="sudo dscacheutil -flushcache; sudo killall -HUP mDNSResponder"
# Lock the screen
alias afk="/System/Library/CoreServices/Menu\
Extras/User.menu/Contents/Resources/CGSession -suspend"

# Scape webpage
alias scrape="scrapeUrl"

# Switch NPM
alias npmnpm="npm config set registry https://registry.npmjs.org"

alias czsh="source ~/.zshrc"
alias .alias="nano ~/.dotfiles/shell/.aliases"
alias .aliasc="code ~/.dotfiles/shell/.aliases"
alias www="cd ~/Code"
alias 250gb="cd /Volumes/250GB/Code"
alias 1tb="cd /Volumes/1TB/Code"

alias sshp="ssh -o PreferredAuthentications=password -o PubkeyAuthentication=no"

alias javaInfo="java --version && /usr/libexec/java_home -V"

# Android
alias zipalign="/Users/akhaled/Library/Android/sdk/build-tools/31.0.0/zipalign -f -v 4 "

# Brew
alias brew-apps="brew leaves | xargs -n1 brew desc"

# JAVA
alias java8="rm /usr/local/bin/javac && ln -s /Users/amrokhaled/Library/Java/JavaVirtualMachines/liberica-1.8.0_345/bin/javac /usr/local/bin/javac && czsh"
alias java11="rm /usr/local/bin/javac && ln -s /Users/amrokhaled/Library/Java/JavaVirtualMachines/corretto-11.0.17/Contents/Home/bin/javac /usr/local/bin/javac && czsh"
alias java15="rm /usr/local/bin/javac && ln -s /Library/Java/JavaVirtualMachines/jdk-15.0.2.jdk/Contents/Home/bin/javac /usr/local/bin/javac && czsh"
alias java17="rm /usr/local/bin/javac && ln -s "/Applications/Android Studio Preview.app/Contents/jbr/Contents/Home/bin/javac" /usr/local/bin/javac && czsh"

alias 2fa="bash /Users/amrokhaled/Code/scripts/2fa"
