# PHP
alias phpunit="vendor/bin/phpunit"
alias phpunitw="phpunit-watcher watch"
alias a="php artisan"
alias ar="php artisan remote"
alias c="composer"
alias cu="composer update"
alias cr="composer require"
alias ci="composer install"
alias cda="composer dump-autoload -o"
alias larastan="vendor/bin/phpstan analyse"
alias mfs='php artisan migrate:fresh --seed'
alias nah='git reset --hard;git clean -df'

alias pp="php artisan test --parallel"
alias d="php artisan dusk"
alias sshconfig="vi ~/.ssh/config"
alias sail='./vendor/bin/sail'

# Git
alias gc="git checkout"
alias gpo="git push -u origin"
alias qgpo="git add -A && git commit -m quick && git push origin master"
alias gm="git merge"
alias prod="git push production"
alias qprod="git add -A && git commit -m hotfix && prod"
alias glog="git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
alias gpull="git pull origin master"

# List all files colorized in long format
alias l="ls -laF"

# Redis
alias flush-redis="redis-cli FLUSHALL"

alias czsh="source ~/.zshrc"
alias .alias="nano ~/.dotfiles/shell/.aliases"
