[submodule "misc/oh-my-zsh-custom/plugins/artisan"]
	path = misc/oh-my-zsh-custom/plugins/artisan
	url = https://github.com/jessarcher/zsh-artisan.git
[submodule "misc/oh-my-zsh-custom/plugins/zsh-nvm"]
	path = misc/oh-my-zsh-custom/plugins/zsh-nvm
	url = https://github.com/jessarcher/zsh-artisan.git
